<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Checker</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="content">
          <label for="old">Old text</label>
          <div>
            <textarea name="old" id="old">
Avoir une application mobile vous permet d'enrichir votre image, de gagner en visibilité et d'améliorer l'image de marque de votre entreprise. Avec une application mobile, vous serez perçu comme une entreprise moderne à l'écoute de vos clients. C'est l'outil PARFAIT pour compléter votre site Web avec un support conçu pour les appareils mobiles. De plus, nombreux sont anhanh ceux qui rêvent d'avoir leur propre application mobile, que ce soit pour automatiser certaines tâches personnelles comme envoyer un mail d'absence à tous ses collaborateurs en un clic, voir la liste des contacts avec qui on a le moins d'interactions, etc... ; ou soit pour d'autres besoins généraux comme par exemple générer son cv en PDF. Le but des applications mobiles est donc de vous permettre d'accéder de manière interactive à certaines fonctionnalités qui vous simplifieront la vie. Et à cause de leur portabilité, les applications sont plus faciles à utiliser que tout autre système informatique ( il vous faut juste un smartphone )</textarea
            >
          </div>
        </div>
        <div class="content">
          <label for="new">New text</label>
          <div>
            <textarea name="new" id="new">
Avoir une application mobile vous permet d'enrichir votre image, de gagner en visibilité et d'améliorer l'image de marque de votre entreprise. Avec une application mobile, vous serez perçu comme une entreprise moderne à l'écoute de vos clients. C'est l'outil PARFAIT pour compléter votre anr Web avec un support conçu pour les appareils mobiles. De plus, nombreux sont anhanh ceux qui rêvent d'avoir leur propre application mobile, que ce soit pour automatiser certaines tâches personnelles comme envoyer un mail d'absence à tous ses collaborateurs en un clic, voir la liste des contacts avec qui on a le moins d'interactions, etc... ; ou soit pour d'autres besoins généraux comme par exemple générer son cv en PDF. Le but des applications mobiles est donc de vous permettre d'accéder de manière interactive à certaines fonctionnalités qui vous simplifieront la vie. Et à cause de leur portabilité, les applications sont plus faciles à utiliser que tout autre système informatique ( il vous faut juste un smartphone )</textarea
            >
          </div>
        </div>
      </div>
      <button id="btn-check">Check difference</button>
    </div>

    <div class="container">
      <div id="oldresult"></div>
      <div id="newresult"></div>
    </div>

    <footer><p id="hint"> <a href="https://github.com/D3R50N">
      <img src="logo.png" alt="">
     <div>MaxDev. - 2022</div> </a></p></footer>

    <script src="main.js"></script>
  </body>
</html>
