<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Checker</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="content">
          <label for="old">Old text (<span id="oct"></span> words)</label>
          <div>
            <textarea name="old" id="old"><%=oldText%></textarea>
          </div>
        </div>
        <div class="content">
          <label for="new">New text (<span id="nct"></span> words)</label>
          <div>
            <textarea name="new" id="new"><%=newText%></textarea>
          </div>
        </div>
      </div>
      <button id="btn-check">Check difference</button>
      <button id="btn-save">Save my session</button>
    </div>

    <div class="container">
      <div id="oldresult"></div>
      <div id="newresult"></div>
    </div>

    <div class="container">
      <div class="alert">
        <p id="alert-text">
          We use cookies to save your session. You can disable them at any time.
        </p>
        <button id="alert-btn">I accept all cookies</button>
      </div>
    </div>

    <footer>
      <p id="hint">
        <a href="https://github.com/D3R50N" target="_blank">
          <img src="logo.png" alt="" />
          <div>MaxDev. - 2022</div>
          <div style="margin-left: 5px">| Views since update : <%=views%></div>
        </a>
      </p>
    </footer>

    <script src="main.js"></script>
  </body>
</html>
